.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.profile-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 580px;
  height: 350px;
}

.profile-image img {
  width: 550px;
  height: 350px;
  border-radius: 50%;
  border: 4px solid #ff8800;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.profile-image img:hover {
  transform: scale(1.1);
}

.profile-details,
.owner-info {
  flex: 2;
  min-width: 300px;
  background: #ffffff33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.owner-info {
  margin-top: 0;
}

.profile-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}